---
import { Icon } from "astro-icon/components";
import SiteLogo from "../../bonsai/template/logo.svg"
import config from "@util/themeConfig";
---

<a href="/" class="flex items-center space-x-1 rtl:space-x-reverse">
  {
    config.general.logo ? (
      <img
        sizes="32px"
        src={SiteLogo.src}
        class="h-16"
        alt={config?.general.title + " Logo"}
      />
    ) : (
      <Icon
        class="w-7 h-7 text-gray-600 dark:text-white"
        name={config?.general?.iconLogo}
      />
    )
  }
  <span
    class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
    >{config.general.title}</span
  >
</a>
